@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Helvetica';
    font-size: 18px;
}
h1,h2{
    font-family: 'Pattaya', sans-serif;
}
#tituloP{
    font-family: 'Pattaya', sans-serif;
    font-size: 1.7rem;
    padding: 13px;
}

/* barra navegacion horizontal */

header label{
    cursor: pointer;
    display: none;
}
#btn-menu1{
    display: none;
}
.menu ul {
    display: flex;
    justify-content:space-evenly;
    list-style: none;
}
.menu ul ul {/*todos los ul que esten dentro de un ul*/
    display: none;
}
.menu a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}
.menu a:hover{
    background:rgba(0,0,0,0.3) ;
}
.menu i{
    color: rgb(163, 154, 154);
}
.menu a i{
    margin-left: 10px;
}
.menu ul li:hover ul{
    margin-left: 10px;
    background-color: rgb(241, 200, 238);
    display: block;
    position: absolute;
}
.menu a:hover{
    font-weight: bold;
    color:rgb(247, 241, 241);
}
header{
    background-color:rgb(231, 230, 230);
}
/* seccionesssss */

.sec1{
    background: rgb(213,150,250);
background: linear-gradient(180deg, rgba(213,150,250,1) 45%, rgba(255,255,255,1) 45%);
display: flex;
justify-content: center;
}
.container1{
    background-color: white;
    width: 70%;
    margin: 50px;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    display: flex;
}
.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #E5CCFF;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.img-1{
    height: 70%;
    width: 70%;
}
.par1{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgb(194, 191, 191);

}
.par1 p{
    padding: 20px;
    line-height: 2;
}
.container-form{
    margin: 50px;
    width: 50%;
}
#Nombre,#Telefono,#Correo{
    width: 90%;
    border: 1px solid rgb(194, 191, 191);
    height: 30px;
}
#Mensaje{
    width: 90%;
    height: 200px;
    border: 1px solid rgb(194, 191, 191);

}
input[type=submit]{
   width: 90%;
   background-color: #CC99FF;
   height: 50px;
   border: none;
   color: white;
}
input[type=submit]:hover{
    background-color: indigo;
}
/* footer */
footer{
    height: 50px;
    width: 100%;
    background: #CC99FF;
    display: flex;
}
.leter{
    flex: 50%;
    text-align:left ;
    color: white;
}
.icon{
    text-align: right;
    padding: 5px;
}
/* responsividad ************************* */
@media only screen and ( max-width:600px ){
   /* horizontal */
   header label{
    display: block;
}
header{
    display: flex;
    justify-content: flex-start;
}
header i{
    font-size: 29px;
}
label>i{
    margin: 5px;
}
.menu {
    position: absolute;
    top:36px;/*c*/
    left: 0;
    width: 100%;
    background-color: rgb(239, 172, 241);
    transform:translateX(-100%);
    transition: all 0.3s;
    
    
   
}
.menu ul{
    /* display: block; */
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.menu ul li:hover ul{
    background-color: rgb(243, 144, 235);
    position: static;
    margin: 0;
}
.menu a i{
    position: absolute;
    right: 5px;
    
}
#btn-menu1:checked~.menu{
    transform:translateX(0%);
}
/* otros */

}