@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Helvetica';
    font-size: 18px;
}
h1,h2{
    font-family: 'Pattaya', sans-serif;
}
#tituloP{
    font-family: 'Pattaya', sans-serif;
    font-size: 1.7rem;
    padding: 13px;
}

/* barra navegacion horizontal */

header label{
    cursor: pointer;
    display: none;
}
#btn-menu1{
    display: none;
}
.menu ul {
    display: flex;
    justify-content:space-evenly;
    list-style: none;
}
.menu ul ul {/*todos los ul que esten dentro de un ul*/
    display: none;
}
.menu a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}
.menu a:hover{
    background:rgba(0,0,0,0.3) ;
}
.menu i{
    color: rgb(163, 154, 154);
}
.menu a i{
    margin-left: 10px;
}
.menu ul li:hover ul{/*cuando pase el mouse dentro de un li que este dentro de ul seleccion un ul que este dentro de li */
    margin-left: 10px;
    background-color: rgb(241, 200, 238);
    display: block;
    position: absolute;
}
.menu a:hover{
    font-weight: bold;
    color:rgb(247, 241, 241);
}
header{
    background-color:rgb(231, 230, 230);
}
/* seccion principal */
main{
    background-image: url("../IMG/igualdad.jpg");
    background-size: 100%;
    height: 780px;/*ccccc*/
}
.contenedor1{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor1>.text{
    width: 40%;
    line-height: 2;
    color: white;
}
.text h1{
    font-size: 50px;
    text-align: center;
    padding: 5px;
}
.seccion3{
    display: flex; /* hr*/
    flex-direction: column;
    align-items: center;
}
/* Seccion1  */
.seccion1{
    background: rgb(229,204,255);
background: linear-gradient(180deg, rgba(229,204,255,1) 0%, rgba(255,255,255,1) 100%);
height: 400px; /*ccc*/
display: flex;
justify-content: center;
align-items: center;
}
.text1{
    width: 70%;
    line-height: 2;
}
.text1 h2{
    font-size: 40px;
    text-align: center;
    color: rgb(110, 109, 109);
}

.img-1{
    width: 400px;
    height: 400px;
}
.text{
    text-align: justify;
}
.text h3{
   padding: 19px; /*cc*/
}
.seccion2,.seccion3,.seccion4,.seccion5{
    display: flex;
    justify-content: center;
    padding: 8px;
    
}
.contenedor-3{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contenedor2{
    width: 70%;
    display: flex;
}
.span1{
    color:violet;
}
hr{
    width: 70%;
}
.sec4{
    border: dashed 2px rgb(87, 83, 83);
    margin: 10px;
    padding: 20px;
    flex-direction: column;
}
.sec4 ul li{
    word-break: break-all;
}
.seccion5{
    padding: 30px;
}
footer{
    height: 50px;
    width: 100%;
    background: #CC99FF;
    display: flex;
}
.leter{
    flex: 50%;
    text-align:left ;
    color: white;
}
.icon{
    text-align: right;
    padding: 5px;
}
/* responsividad ************************* */
@media only screen and ( max-width:600px ){
   /* horizontal */
   header label{
    display: block;
}
header{
    display: flex;
    justify-content: flex-start;
}
header i{
    font-size: 29px;
}
label>i{
    margin: 5px;
}
.menu {
    position: absolute;
    top:36px;/*corregir*/
    left: 0;
    width: 100%;
    background-color: rgb(239, 172, 241);
    transform:translateX(-100%);/*para que se vaya el menu*/
    transition: all 0.3s;
    
    
   
}
.menu ul{
    display: block;
    height: max-content;

}
.menu ul li:hover ul{
    /*display: none;*/
    /*background:rgba(248, 246, 246, 0.3);*/
    background-color: rgb(243, 144, 235);
    position: static;
    margin: 0;
}
.menu a i{
    position: absolute;
    right: 5px;
    
}
#btn-menu1:checked~.menu{
    transform:translateX(0%);/*no se traslade y vuelva a su position orignial*/
}
/* imagen */
.contenedor2{
    flex-direction: column;
}
}
