@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Helvetica';
    font-size: 18px;
}
h1,h2{
    font-family: 'Pattaya', sans-serif;
}
#tituloP{
    font-family: 'Pattaya', sans-serif;
    font-size: 1.7rem;
    padding: 13px;
}

/* barra navegacion horizontal */

header label{
    cursor: pointer;
    display: none;
}
#btn-menu1{
    display: none;
}
.menu ul {
    display: flex;
    justify-content:space-evenly;
    list-style: none;
}
.menu ul ul {/*todos los ul que esten dentro de un ul*/
    display: none;
}
.menu a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}
.menu a:hover{
    background:rgba(0,0,0,0.3) ;
}
.menu i{
    color: rgb(163, 154, 154);
}
.menu a i{
    margin-left: 10px;
}
.menu ul li:hover ul{
    margin-left: 10px;
    background-color: rgb(241, 200, 238);
    display: block;
    position: absolute;
}
.menu a:hover{
    font-weight: bold;
    color:rgb(247, 241, 241);
}
header{
    background-color:rgb(231, 230, 230);
}

/* seccionesssss */
main{
    background: rgb(213,150,250);
background: linear-gradient(90deg, rgba(213,150,250,1) 35%, rgba(238,217,255,1) 35%);
display: flex;
justify-content: center;
}
.sec1{
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(229,204,255,1) 99%);
}
.seccion1{
    display: flex;
}
.Tseccion1{
    color:gray;
    text-align: center;
    padding: 20px;
}
.container2{
    flex:25%;
    display: flex;
    flex-direction: column;
    margin: 5%;
    
}
.container2 >button{
    font-family: 'Pattaya', sans-serif;
    color: white;
    background: #D596FA;
    padding: 15px;
    margin-top:8px;
    width: 80%;
    border: none;
     box-shadow: 6px 6px grey;
 
}

.container2 >button:hover{
    background-color: #9a6aca;
}
button a {
    text-decoration: none;
    font-size: 23px;
}
.container1{
    width:60%;
    display: flex;
    padding: 30px;
}
.txt{
    padding: 40px;
}

.img-1{
    width: 80%;
    height: 350px;
}
.seccion2
{
    padding:10px  40px  20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(229,204,255);
background: linear-gradient(180deg, rgba(229,204,255,1) 0%, rgba(255,255,255,1) 100%);
text-align: justify;
}

.fuente{
    border: dashed 2px rgb(87, 83, 83);
    margin: 10px;
    padding: 20px;
    flex-direction: column;
}
.fuente ul li{
    word-break: break-all;
}

#Tfuente{
    font-family: 'Pattaya', sans-serif;

}
.img-2{
    width: 70%;
    height: 80%;
}

button a {
    text-decoration: none;
}
/* footer */
footer{
    height: 50px;
    width: 100%;
    background: #CC99FF;
    display: flex;
}
.leter{
    flex: 50%;
    text-align:left ;
    color: white;
}
.icon{
    text-align: right;
    padding: 5px;
}

/* responsividad ************************* */
@media screen and (max-width: 992px) {
    .container1{
        flex-direction: column;
    }
}
@media only screen and ( max-width:600px ){
   /* horizontal */
   header label{
    display: block;
}
header{
    display: flex;
    justify-content: flex-start;
}
header i{
    font-size: 29px;
}
label>i{
    margin: 5px;
}
.menu {
    position: absolute;
    top:36px;/*c*/
    left: 0;
    width: 100%;
    background-color: rgb(239, 172, 241);
    transform:translateX(-100%);
    transition: all 0.3s;
    
    
   
}
.menu ul{
    /* display: block; */
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.menu ul li:hover ul{
    background-color: rgb(243, 144, 235);
    position: static;
    margin: 0;
}
.menu a i{
    position: absolute;
    right: 5px;
    
}
#btn-menu1:checked~.menu{
    transform:translateX(0%);
}
/* otros */
.container1{
    flex-direction: column;
}
.container2{
    margin: 0;
}
.seccion1{
    flex-direction: column;
    align-items: center;
}
.img-1{
    margin: 9px;
}
}