@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Helvetica';
    font-size: 18px;
}
h1{
    font-size: 38px;

}
h1,h2{
    font-family: 'Pattaya', sans-serif;
    color: white;
}
h2{
    font-size: 28px;

}
#tituloP{
    font-family: 'Pattaya', sans-serif;
    font-size: 1.7rem;
    padding: 13px;
}

/* barra navegacion horizontal */

header label{
    cursor: pointer;
    display: none;
}
#btn-menu1{
    display: none;
}
.menu ul {
    display: flex;
    justify-content:space-evenly;
    list-style: none;
}
.menu ul ul {/*todos los ul que esten dentro de un ul*/
    display: none;
}
.menu a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}
.menu a:hover{
    background:rgba(0,0,0,0.3) ;
}
.menu i{
    color: rgb(163, 154, 154);
}
.menu a i{
    margin-left: 10px;
}
.menu ul li:hover ul{
    margin-left: 10px;
    background-color: rgb(241, 200, 238);
    display: block;
    position: absolute;
}
.menu a:hover{
    font-weight: bold;
    color:rgb(247, 241, 241);
}
header{
    background-color:rgb(231, 230, 230);
}
/* seccionesssss */
.divContenedor{
    background-repeat: repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    
}
.prog{
    background-image: url("../IMG/fondo.jpeg");
}
.doc{
    background-image: url("../IMG/Area_Medicina.jpg");

}
.arq{
    background-image: url("../IMG/arqi.jpeg");
}
.div1{
    width: 100%;
    height: 580px;
}

.divEncima{
    background-color: rgba(66, 64, 64, 0.5);
	width: 100%;
	height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	top:0;
}

.centrado{
    width: 60%;
    text-align: justify;
    color: whitesmoke;
    
}
.seccion1{
    background-color: #7AD3FF;
    display: flex;
    justify-content: center;
}
.doc-txt{
    height: 500px;  /* ss */

}
.txt{
    width: 70%;
    margin: 50px;
    text-align: justify;
    font-size: 24px;
}
.container{
    width: 70%;
    display: flex;
    padding: 50px;
    align-items: center;
}
.container p ,.container h3{
   margin: 40px;
   color: white;
}
.fuente{
    border: dashed 2px rgb(87, 83, 83);
    margin: 10px;
    padding: 20px;
    flex-direction: column;
}
.fuente ul li{
    word-break: break-all;
}

#Tfuente{
    font-family: 'Pattaya', sans-serif;

}
.sec-f{
    height: 300px;
}
.img-3{
    width: 300px;
    height: 250px;
}
/* footer */
footer{
    height: 50px;
    width: 100%;
    background: #CC99FF;
    display: flex;
}
.leter{
    flex: 50%;
    text-align:left ;
    color: white;
}
.icon{
    text-align: right;
    padding: 5px;
}
/* responsividad ************************* */
@media only screen and ( max-width:600px ){
   /* horizontal */
   header label{
    display: block;
}
header{
    display: flex;
    justify-content: flex-start;
}
header i{
    font-size: 29px;
}
label>i{
    margin: 5px;
}
.menu {
    position: absolute;
    top:36px;/*c*/
    left: 0;
    width: 100%;
    background-color: rgb(239, 172, 241);
    transform:translateX(-100%);
    transition: all 0.3s;
    
    
   
}
.menu ul{
    /* display: block; */
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.menu ul li:hover ul{
    background-color: rgb(243, 144, 235);
    position: static;
    margin: 0;
}
.menu a i{
    position: absolute;
    right: 5px;
    
}
#btn-menu1:checked~.menu{
    transform:translateX(0%);
}
/* otros */
.doc-txt,.div1{
    height:max-content;

}
.container{
    flex-direction: column;
}
.c{
    width: 90%;
    
}
}