@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Helvetica';
    font-size: 18px;
}
h2{
    font-family: 'Pattaya', sans-serif;
    color: gray;
    text-align: center;
}
h3{
    font-family: 'Pattaya', sans-serif;
}
#tituloP{
    font-family: 'Pattaya', sans-serif;
    font-size: 1.7rem;
    padding: 13px;
}

/* barra navegacion horizontal */

header label{
    cursor: pointer;
    display: none;
}
#btn-menu1{
    display: none;
}
.menu ul {
    display: flex;
    justify-content:space-evenly;
    list-style: none;
}
.menu ul ul {/*todos los ul que esten dentro de un ul*/
    display: none;
}
.menu a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}
.menu a:hover{
    background:rgba(0,0,0,0.3) ;
}
.menu i{
    color: rgb(163, 154, 154);
}
.menu a i{
    margin-left: 10px;
}
.menu ul li:hover ul{
    margin-left: 10px;
    background-color: rgb(241, 200, 238);
    display: block;
    position: absolute;
}
.menu a:hover{
    font-weight: bold;
    color:rgb(247, 241, 241);
}
header{
    background-color:rgb(231, 230, 230);
}
/* seccionesssss */

.seccion1{
    background-color:#ffdefd ;
    display: flex;
    justify-content: center;
}
.container1{
    width: 70%;
    display: flex;
    padding-top: 40px;
}
.seccion2{
    background: rgb(255,222,253);
background: linear-gradient(180deg, rgba(255,222,253,1) 0%, rgba(255,255,255,1) 100%);
padding-top: 60px; /*ccc*/
height: 600px;

}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    text-align: center;

}
.circle i{
    font-size: 120px;
    padding-top: 9px;
}
.sec2-1{
    margin: 50px;
    padding:30px;

}
.sec2-1 h3{
    padding:10px;
    text-align: center;
}
.container-circles{
    display: flex;
    align-items: center;
    justify-content: center;

}
.seccion3{
    display: flex;
}
.txt{
    padding: 50px;
}
.fuente{
    border: dashed 2px rgb(87, 83, 83);
    margin: 10px;
    padding: 20px;
    flex-direction: column;
}
.fuente ul li{
    word-break: break-all;
}

#Tfuente{
    font-family: 'Pattaya', sans-serif;

}
.img-2{
    width: 240%;
}
/* footer */
footer{
    height: 50px;
    width: 100%;
    background: #CC99FF;
    display: flex;
}
.leter{
    flex: 50%;
    text-align:left ;
    color: white;
}
.icon{
    text-align: right;
    padding: 5px;
}

/* responsividad ************************* */
@media only screen and ( max-width:600px ){
   /* horizontal */
   header label{
    display: block;
}
header{
    display: flex;
    justify-content: flex-start;
}
header i{
    font-size: 29px;
}
label>i{
    margin: 5px;
}
.menu {
    position: absolute;
    top:36px;/*c*/
    left: 0;
    width: 100%;
    background-color: rgb(239, 172, 241);
    transform:translateX(-100%);
    transition: all 0.3s;
    
    
   
}
.menu ul{
    /* display: block; */
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.menu ul li:hover ul{
    background-color: rgb(243, 144, 235);
    position: static;
    margin: 0;
}
.menu a i{
    position: absolute;
    right: 5px;
    
}
#btn-menu1:checked~.menu{
    transform:translateX(0%);
}
/* otros */
.container1{
    flex-direction: column;
}
.container-circles{
    flex-direction: column;
}
.sec2-1{
    margin: 20px;
    padding:10px;

}
.seccion2{
    height: max-content;
}
.seccion3{
    flex-direction: column;
}
.img-2{
    width: 100%;
}
}