@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Helvetica';
    font-size: 18px;
}
h1,h2{
    font-family: 'Pattaya', sans-serif;
}
#tituloP{
    font-family: 'Pattaya', sans-serif;
    font-size: 1.7rem;
    padding: 13px;
}

/* barra navegacion horizontal */

header label{
    cursor: pointer;
    display: none;
}
#btn-menu1{
    display: none;
}
.menu ul {
    display: flex;
    justify-content:space-evenly;
    list-style: none;
}
.menu ul ul {/*todos los ul que esten dentro de un ul*/
    display: none;
}
.menu a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}
.menu a:hover{
    background:rgba(0,0,0,0.3) ;
}
.menu i{
    color: rgb(163, 154, 154);
}
.menu a i{
    margin-left: 10px;
}
.menu ul li:hover ul{
    margin-left: 10px;
    background-color: rgb(241, 200, 238);
    display: block;
    position: absolute;
}
.menu a:hover{
    font-weight: bold;
    color:rgb(247, 241, 241);
}
header{
    background-color:rgb(231, 230, 230);
}

/* ,, */
.a1{
    text-decoration: none;
    color: gray;
}
nav  li a:hover{
    color: rgb(226, 159, 193);
    transition: all .3s;
}

body {
    font-family: Helvetica,sans-serif;
    font-size: 20px;
    color: gray;
}
#divContenedor{
    background-image: url("../IMG/arbol.jpg");
    background-repeat: no-repeat;
    background-size: 115%;
    animation: movimiento 35s infinite linear alternate;
    width: 100%;
    height: 100%;
    
}
@keyframes movimiento {
    from{
        background-position: bottom left;
    }
    to{
        background-position: top right;
    }
}
#div1{
    width: 100%;
    height: 580px;
}
#img1{
    width: 100%;
    height: 580px;
}
#divEncima{
    background-color: rgba(66, 64, 64, 0.5);
	width: 100%;
	height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
	top:0;
}
h2{
    text-align: justify;
    color:whitesmoke;
}
#centrado{
    width: 60%;
    text-align: justify;
    color: whitesmoke;
    
}
#divCentro1{
    border-radius: 8px;
    background: rgb(250, 162, 244);
    background: linear-gradient(0deg, rgb(247, 202, 244) 1%, rgb(250, 201, 246) 2%, rgb(212, 210, 210) 100%);
width: 250px;
    height:380px;
    margin:0 20px 0 20px;

    box-shadow: 0 0 5px 0  rgba(0,0,0,.5) ;/*sombrita*/
    transition: all 380ms;
    
}
#img2{
    width: 85%;
    height: 90%;
    padding-top: 33px;
    padding-left: 32px;
}
#divCentro2{
    border-radius: 8px;
    background: rgb(250, 162, 244);
    background: linear-gradient(0deg, rgb(247, 202, 244) 1%, rgb(250, 201, 246) 2%, rgb(212, 210, 210) 100%);
    width: 250px;
    height:300px;
    margin:0 20px 0 20px;
    box-shadow: 0 0 5px 0  rgba(0,0,0,.5) ;/*sombrita*/
    transition: all 380ms;
}
#img3{
    width:85%;
    height: 90%;
    padding-top: 20px;
    padding-left: 32px;
}
#divCentro3{
    border-radius: 8px;
    background: rgb(250, 162, 244);
    background: linear-gradient(0deg, rgb(247, 202, 244) 1%, rgb(250, 201, 246) 2%, rgb(212, 210, 210) 100%);
    width: 250px;
    height: 200px; 
    margin:0 20px 0 20px;
    box-shadow: 0 0 5px 0  rgba(0,0,0,.5) ;/*sombrita*/
    transition: all 380ms;  
}
#img4{
    width:85%;
    height: 90%;
    padding-top: 15px;
    padding-left: 32px;
}
.div2{
    position:relative;
    height: 350px;
}
.divContainer{
    display:flex;
    flex-direction: column;
    position:relative;
    top:-300px;
}
.divContenedor2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;

  
}
.contenedorBtn{
    display: flex;
    justify-content: center;
}
    .boton{
        border-radius: 6px;
        border-color: transparent;
        background: #CC99FF;
        height:80px;
        width: 250px;
        margin: 20px;
        text-align: center;
        position: relative;
        box-shadow: 0 0 9px 0  rgba(218, 12, 245, 0.5) ;/*sombrita*/
        transition: all 380ms;
        cursor: pointer;
    }
    .boton:hover{
        background: #8156ac;
        transition: all;
    }
    #boton1{
        position: relative;
    }
    #boton2{
        position: relative;
    }
    #boton3{
        position: relative;
    }
    .a2{
        text-decoration: none;
    }
    .etiqueta{
        padding-top: 30px;
        font-family: Helvetica,Arial;
        font-size: 20px;
        color: white;
        text-align: center;
    }
    
    


/* footer */
footer{
    height: 50px;
    width: 100%;
    background: #CC99FF;
    display: flex;
}
.leter{
    flex: 50%;
    text-align:left ;
    color: white;
}
.icon{
    text-align: right;
    padding: 5px;
}
/* responsividad ************************* */
@media screen and (max-width: 992px) {
    .div2{
        height: max-content;
    }
    .divContainer{
        top: -120px;
    }
}
@media only screen and ( max-width:600px ){
   /* horizontal */
   header label{
    display: block;
}
header{
    display: flex;
    justify-content: flex-start;
}
header i{
    font-size: 29px;
}
label>i{
    margin: 5px;
}
.menu {
    position: absolute;
    top:36px;/*c*/
    left: 0;
    width: 100%;
    background-color: rgb(239, 172, 241);
    transform:translateX(-100%);
    transition: all 0.3s;
    
    
   
}
.menu ul{
    /* display: block; */
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.menu ul li:hover ul{
    background-color: rgb(243, 144, 235);
    position: static;
    margin: 0;
}
.menu a i{
    position: absolute;
    right: 5px;
    
}
#btn-menu1:checked~.menu{
    transform:translateX(0%);
}
/* otros */
#divContenedor{
    background-repeat: repeat;
}
#divCentro3,#divCentro2,#divCentro1{
    margin: 10px;
}
.divContainer{
    top:-180px;
}
.contenedorBtn{
    flex-direction: column;
    align-items: center;
}
.div2{
    height: max-content;
}

}